// primary colors
$primary-colors: (
    'attribution': hsl(228, 45%, 44%),
    'basic-black': hsl(0, 0%, 0%),
    'basic-white': hsl(0, 0%, 100%),
    'lime-green': hsl(163, 72%, 41%),
    'bright-red': hsl(356, 69%, 56%),
    'facebook': hsl(195, 100%, 50%),
    'twitter': hsl(203, 89%, 53%),
    'instagram': linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)),
    'youtube': hsl(348, 97%, 39%),
);

// dark theme colors
$dark-theme: (
    'toggle': linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%)),
    'main-background': hsl(230, 17%, 14%),
    'top-background': hsl(232, 19%, 15%),
    'card-background': hsl(228, 28%, 20%),
    'sub-text': hsl(228, 34%, 66%),
    'white-text': map-get($primary-colors, basic-white),
    'hover': #333956,
);

// light theme colors
$light-theme: (
    'toggle': hsl(230, 22%, 74%),
    'main-background': map-get($primary-colors, basic-white),
    'top-background': hsl(225, 100%, 98%),
    'card-background': hsl(227, 47%, 96%),
    'sub-text': hsl(228, 12%, 44%),
    'dark-text': hsl(230, 17%, 14%),
    'hover': #e1e3f0,
);

// fonts
$font-stack: (
    'primary': Inter,
);

// font weights
$font-weight: (
    'regular': 400,
    'bold': 700,
);

// font sizes
$font-size: (
    'base': 14px,
    'xsmall': .85rem,
    'small': 1rem,
    'regular': 1.5rem,
    'medium': 1.75rem,
    'large': 2.25rem,
    'xlarge': 3rem,
);
